.about {
  padding: 1rem !important;
  &_text {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.25rem;
    &:nth-child(2) {
      text-align: left;
      color: #111;
      font-size: 2.25rem;
    }
  }
  &_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    &_item {
      border: 1px solid #ccc;
      transition: all 400ms ease;
      border-radius: 8px;
      box-shadow: 0 3px 3rem rgba(0, 0, 0, 0.08);
      overflow: hidden;
      img {
      }
      &:hover {
        border: 1px solid tomato;
      }
      &_caption {
        padding: 0.4rem 0.5rem;
        width: max-content !important;
        border: 1px solid tomato;
        color: tomato;
        border-radius: 8px;
      }
      button {
        @include button-pc(tomato, #fff, #fff, tomato);
        width: 40%;
        margin: auto !important;
      }
    }
  }
}
@media all and (min-width: 900px) {
  .about {
    &_content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
