.admissions {
  height: 100%;
  margin: 20px 0 20px 0;
  figure {
    width: 60%;
    object-fit: cover;
    display: block;
    margin: 0 auto;

    figcaption {
      font-style: italic;
    }
  }
}
