table {
  border-collapse: collapse;
  width: 100%;
  margin: 3rem 0;
  thead {
    background-color: #f7941e;
    color: #fff;
    th {
      padding: 1rem 0;
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 1rem 0;
      }
      &:nth-child(even) {
        background-color: #f7951e15;
      }
    }
  }
}
