.Admissions {
  height: 100%;
  margin-bottom: 7rem;
  h1 {
    text-align: center;
    &:nth-child(1) {
      margin-top: 4rem;
      font-size: 25px;
      font-weight: 300;
      line-height: 40px;
      text-align: center;
    }
    &:nth-child(2) {
      color: #d51c29;
      font-size: 50px;
      font-weight: 500;
      line-height: 40px;
    }
  }
  &_img {
    max-width: 250px;
    width: 100%;
    max-height: 106px;
    height: 100%;
    object-fit: cover;
    margin: 5rem auto 3rem;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    width: 55%;
    margin: 0 auto 3rem;
  }
  &_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    &_item {
      max-height: 520px;
      height: 100%;
      transition: 0.5s;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}
