.blog {
  margin-bottom: 1.5rem;
  .banner {
    position: relative;
    max-height: 126px;
    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    .text {
      position: absolute;
      padding: 0 15px;
      color: #fff;
      top: 50%;
      left: 7%;
      transform: translateY(-50%);
      h4 {
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 0;
      }
      p {
        font-size: 26px;
      }
    }
  }

  .body {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    &_item {
      margin-top: 1rem;
      height: 100%;
      a {
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: unset;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
        background: #f2f2f2;
        transition: all 0.3s ease-in-out;

        height: 100%;
        padding-bottom: 1rem;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        }
      }

      &_img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-height: 174px;
        height: 100%;
        overflow: hidden;

        object-fit: cover;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &_title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      &_text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      span {
        font-size: 14px;
        color: rgb(151, 151, 151);
        margin-top: 0.5rem;
        display: block;
      }
      &_title,
      &_text,
      span {
        padding: 0 1rem;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .blog {
    .body {
      grid-template-columns: repeat(3, 1fr);
      &_item:nth-child(1) {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media all and (min-width: 1024px) {
  .blog {
    .body {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
