@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  object-fit: cover;
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
  width: 100%;
}
body, html {
  position: relative;
  scroll-behavior: smooth;
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .block {
    flex-direction: column;
    &_item {
      width: 100%;
      &_text {
        h2 {
          font-size: 2.25rem;
        }
        &_sub {
          font-size: 1.5rem;
        }
        &_txt {
          font-size: 1.125rem;
        }
      }
    }
  }

  #about {
    .body_text {
      font-size: 2.25rem;
      &:nth-child(1) {
        font-size: 3.5rem;
      }
    }
    .about_item {
      a {
        img {
          height: 244px;
        }
      }
      .about_item_bottom-caption {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .about_item_bottom {
        padding: 0 15px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 740px;
  }
}
