@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BeVietnamProRegular", sans-serif !important;
}
body,
html {
  position: relative;
  scroll-behavior: smooth;
  font-size: 1rem;
}
ul {
  line-height: 2;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  object-fit: cover;
}
p {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.4px;
}
h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 40px;
  padding: 0.5rem 0;
  font-weight: bold;
}

h3 {
  display: block;
  padding: 0.5rem 0;
  font-weight: bold;
}

h4 {
  display: block;
  padding: 0.5rem 0;
  font-weight: bold;
}

h5 {
  display: block;
  padding: 0.5rem 0;
  font-weight: bold;
}

h6 {
  display: block;
  padding: 0.5rem 0;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}
.disabled-link {
  pointer-events: none;
}
.flex {
  display: flex;
  width: 100%;
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .block {
    flex-direction: column;
    &_item {
      width: 100%;
      &_text {
        h2 {
          font-size: 2.25rem;
        }
        &_sub {
          font-size: 1.5rem;
        }
        &_txt {
          font-size: 1.125rem;
        }
      }
    }
  }

  #about {
    .body_text {
      font-size: 2.25rem;
      &:nth-child(1) {
        font-size: 3.5rem;
      }
    }
    .about_item {
      a {
        img {
          height: 244px;
        }
      }
      .about_item_bottom-caption {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .about_item_bottom {
        padding: 0 15px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 740px;
  }
}
